.quienes h4{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: #fff;
    font-size: 2vw;
}

.quienes h3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    color: #fff;
    font-size: 2vw;
}

.quienes p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    color: #fff;
    font-size: 1.5vw;
}


.sabermas{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #31384A;
    margin-top: 20px;
    color: #fff;
    padding: 20px;
}

@media (max-width: 800px){
    .quienes h4{
        font-size: 6vw;
    }

    .quienes h3{
        font-size: 5vw;
    }

    .quienes p{
        font-size: 3vw;
    }

    .sabermas{
        
    }
}